/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}
html,body{
    height: 100%;
    width: 100%;
    overflow:hidden;
    background-color: #ecf0ef
}
.db{
    display: block !important;
}
.left-nav{
    width: 210px;
    height: 100%;
    background-color: #545ca6;
    overflow: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1
}
.left-nav .logo{
    line-height: 49px;
    font-size: 20px;
    color: aliceblue;
    font-weight: 400;
    padding-left: 40px    
}
.left-nav .logo:hover{
    color: #cecece
}
.left-nav .logo span{
    margin-right: 10px
}
.left-nav .nav-list-wrap h3{
    font-size: 14px;
    text-align: left;
    padding-left: 15px;
    line-height: 30px;
    color: #fff;
    font-weight: 400;
    color: #eee;
    cursor: pointer
}
.left-nav .nav-list-wrap h3 span{
    font-size: 12px;
    margin-right: 10px;
}
.left-nav .nav-list-wrap ul{
    display: none
}
.left-nav .nav-list-wrap ul li a{    
    display: inline-block;
    line-height: 30px;
    font-size: 12px;
    color: #acb7c1;
    padding-left: 45px;
}
.left-nav .nav-list-wrap ul li span{
    float: right;
    margin-right: 20px;
    color: #acb7c1 ;
    margin-top: 8px;
}
.left-nav .nav-list-wrap ul li:hover{
    background-color: #767DBE;
    cursor: pointer
}
.main{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    margin-left: 210px;
    display: block;
    width: 100%;
    padding-right: 210px;
    min-width: 990px;
}
.main .user-info{
    height: 50px;
    background: #fff;
    width: 100%;
    min-width: 990px;
    overflow: hidden
}
.main .user-info .logo{
    float: left;
    line-height: 49px;
    font-size: 20px;
    color: aliceblue;
    font-weight: 400;
    padding-left: 30px;
    color: #545ca6;
    margin-left: -140px;
}
.main .user-info .logo span{
    margin-right: 10px
}
.main .user-info .left-nav-btn{
    line-height: 50px;
    padding-left: 20px;
    font-size: 20px;
    cursor: pointer;
    float: left;
    color: #545ca6;
}
.main .user-control{
    width: 330px;
    height: 50px;
    float: right;
    line-height: 50px;
}
.main .user-control .remind{
    font-size: 18px;
    float: right;
    margin-top: 15px;
    font-weight: 400;
    color: #555;
    margin-right: 20px;
    cursor: pointer;
}
.main  .user-name{
    float: right;
    font-size: 14px;
    padding-right: 60px;
    margin-top: 15px;
    padding-left: 15px;
    font-weight: 400;
    color: #09C
}
.main .top-nav-lsit{
    overflow: hidden;
    float: left;
    padding-left: 50px;
}
.main  .top-nav-lsit ul{
    overflow: hidden;
    line-height: 50px;
}
.main  .top-nav-lsit ul li{
    float: left
}
.main  .top-nav-lsit ul .active{
    background-color: #ecf0ef;
}
.main  .top-nav-lsit ul .active a:hover{
    background-color: #ecf0ef;
    color: #545ca6
}
.main  .top-nav-lsit ul a{
    display: block;
    text-align: center;
    padding: 0 20px;
    color: #545ca6
}
.main  .top-nav-lsit ul a span{
    margin-right: 10px;
}
.main  .top-nav-lsit ul a:hover{
    background-color: #545ca6;
    color: #fff
}

/* 内容可变区 */
.main-wrap{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    margin-top: -50px;
    padding-top: 60px;
}
.main-wrap .context-tip span{ 
    float: right;
}
.main-wrap .context-tip span:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);     /* IE 9 */
    -moz-transform:rotate(360deg);    /* Firefox */
    -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
    -o-transform:rotate(360deg);  /* Opera */
    transition: all 2s;
    cursor: pointer;
}
.main-wrap .context-info{
    overflow:hidden;
}
.main-wrap .context-info .module3{
    width: 30%;
    float: left;
    margin-left:3%;
    text-align: center;
    border-radius: 5px;
    background-color: #fff
}
.main-wrap .context-info .module3 h3{
    line-height: 60px;
    font-size: 20px;
    color: #09C;
    font-weight: 400
}
.main-wrap .context-info .module3  p{
    line-height: 60px;
}
.main-wrap .context-info .module3 em{
    font-size: 20px;
}
.main-wrap .context-info .module3 .origin{
    color: #449d44
}
.main-wrap .context-info .module3 .blue{
    color: #f0ad4e
}
.main-wrap .context-info .module3 .grenn{
    color: #337ab7
}
.main-wrap .context-info .module3 a{
    display: block;
    padding:20px 50px;
    background-color:#545ca6;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}
.main-wrap .context-info .module3 h2{
    font-size: 16px;
}
.context-people-iofo{
    width: 97%;
    margin: 30px auto;
    background-color: #fff;
    height: 220px;
}
.context-people-iofo .module3{
    width: 33%;
    height:220px;
    float: left;
}
.context-people-iofo .bg{
    width: 20%;
    height: 220px;
    text-align: center;
    line-height: 220px;
    font-size: 20px;
    float: left;
    border-left: 1px solid #ccc
}
.context-people-iofo .user-iofo{
    text-align: center;
    float: left;
}
.context-people-iofo .user-iofo h1{
    font-size: 16px;
    line-height: 60px;
    padding-top: 20px;
    font-weight: 400;
    padding-left: 20px;
}
.context-people-iofo .user-iofo h1 span{
    color: #449d44
}
.context-people-iofo .user-iofo h3{
    font-size: 14px;
    line-height: 30px;
    padding-top: 20px;
    color: #449d44
}
.context-people-iofo .project-info{
     text-align: center;
     float: left;
     padding-left: 20px;
     padding-top: 10px;
}
.context-people-iofo .project-info ul li{
    line-height: 30px;
    overflow:hidden;
    min-width: 200px;
}
.context-people-iofo .project-info ul li span{
    display: block;
    float: left;
    width: 50%;
    text-align: right;
    color: #666;
    font-size: 14px;
}
.context-people-iofo .project-info ul li .tilename{
    color: #333;
}
.context-people-iofo .project-info .analysis{
     text-align: center;
     float: left;
     padding-left: 20px;
     padding-top: 10px;
}